body{
    background-color: rgb(255, 237, 155);
    font-family: cursive;
}

h1{
    color:rgb(253, 159, 36);
    display: flex;
    justify-content: center;
    font-size: 38px;
}

h3{
    color:rgb(255, 154, 3);
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 5px;
}   