body{
    background-color: rgb(255, 243, 192);
    font-family: cursive;
}

h1{
    color:rgb(253, 159, 36);
    display: flex;
    justify-content: center;
    font-size: 38px;
    margin-bottom: 5px;
}

.introduction{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

h2{
    color:rgb(72, 134, 0);
    display: flex;
    justify-content: center;
    font-size: 38px;
}

h3{
    color:rgb(255, 154, 3);
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 90px;
    
}

.btns button{
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 134, 0);
}

.btns img{
    display: flex;
    height: 300px;
    width: 300px;
}

#buttonR img {
    display: flex;
    height: 220px;
    width: 220px; 
}

#buttonS img {
    display: flex;
    height: 240px;
    width: 240px; 
}

button:hover{
    background-color: rgb(25, 0, 167);
    transition: 0.6s;
}

.score{
    display: flex;
    align-items: flex-start;
    background-color: rgb(25, 0, 167);
    width: 550px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 25px;
    border: 4px solid rgb(255, 85, 85);;
}

#computerScore{
    margin-left: auto;
    margin-right: auto; 
}

#playerScore{
    margin-left: auto;
    margin-right: auto;
}

.score div p{
    font-size: 24px;
    color: rgb(255, 85, 85);
    font-weight: bold;
    margin-bottom: 10px;
}

#computerScoreNum,
#playerScoreNum{
    display: flex;
    justify-content: center;
}


#playerScoreNum p,
#computerScoreNum p{
    margin: 0;
}